@font-face {
    font-family: 'Star Jedi';
    src: url("../assets/Starjedi.ttf");
}
body
{
    background: url("../assets/dark-space.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-family: 'Star Jedi';
}
.nova-palavra
{
    border: 0;
    font-family: 'Star Jedi';
}
.nova-palavra:hover
{
    background: crimson;
}
.chute
{
    border: 0;
    font-family: 'Star Jedi';
}
.entrada-de-letra, .entrada-de-palavra
{
    border: 0;
    font-family: 'Star Jedi';
    font-weight: bold;
}

.chute-palavra
{
    border: 0;
    border-top: solid 3px;
    font-family: 'Star Jedi';
}
.chute:hover
{
    background: crimson;
}
.chute-palavra:hover
{
    background: lightgreen;
}
.boneco
{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;/*necessário para cobrir as partes da imagem*/
}
.aviso
{
    visibility: hidden;
    position: absolute;
    font-size: large;
    font-weight: 900;
    text-align: center;
    top: 130px;
}
.venceu
{
    color: blue;
}
.perdeu
{
    color: #ed0800;
}
.darth-vader
{
    width: 300px;  
}
.cabeca
{
    width: 300px;
    height: 130px;

    background:black;

    position: absolute;/*elemento chave para cobrir a imagem*/
    top: 0;
}
.braco-direito
{
    width: 100px;
    height: 130px;

    background:black;

    position: absolute;/*elemento chave para cobrir a imagem*/
    right: 0%;
    bottom: 90;
}
.braco-esquerdo
{
    width: 100px;
    height: 130px;

    background:black;

    position: absolute;/*elemento chave para cobrir a imagem*/
    left: 0%;
    bottom: 90;
}
.perna-esquerda
{
    width: 150px;
    height: 90px;

    background:black;

    position: absolute;/*elemento chave para cobrir a imagem*/
    bottom: 0%;
    left: 0%;
}
.perna-direita
{
    width: 150px;
    height: 90px;

    background:black;

    position: absolute;/*elemento chave para cobrir a imagem*/
    bottom: 0%;
    right: 0%;
}
.torso
{
    width: 100px;
    height: 130px;

    background:black;

    position: absolute;/*elemento chave para cobrir a imagem*/
    bottom: 90px;
}
.caixa-palavra
{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.palavra
{
    font-size: large;
}
.dica
{
    font-size: small;
}
.status
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hp
{
    position: absolute;
    left: 40px;
}
.pontos
{
    position: absolute;
    right: 80px;
}
.chutes-restantes
{
    position: absolute;
    top: 10px;
    left: 40px;
}
